<div id="box">
<form >
    <p>
        <input placeholder="Enter your name" type="text" name="name"  />
    </p>
    <p>
        <input placeholder="Enter your surname" type="text" name="surname"/>
    </p>
    <p>
        <select value="thabo">
             @for(degree of degrees; track degree.name){
    
                    <h1>{{degree.name}}</h1>
                    <option [value]="degree.name">{{degree.name}}</option>
                }
        </select>
    </p>
     
    <button>Submit</button>
</form>
</div>
