<div id="box">
<form (ngSubmit)="onSubmit()">
    <p>
        <label>Name</label>
        <input  placeholder="Enter your name" type="text" name="name" required [(ngModel)]="enteredName"/>
    </p>
    <p>
        <label>Surname</label>
        <input placeholder="Enter your surname" type="text" name="surname" required [(ngModel)]="enteredSurname"/>
    </p>
   
    <p>
        <label>Year</label>
        <input type="date" name="year" required [(ngModel)]="enteredYears"/>
    </p>
    <p>
        <label >Degree</label>
        <select value="thabo" name="degree" [(ngModel)]="enteredDegree">
        <label id="degree" >Degree</label>
        <select id="degree-input" value="Degrees" name="degree" [(ngModel)]="enteredDegree">
             @for(degree of degrees; track degree.name){
     
                    <h1>{{degree.name}}</h1>
                    <option [value]="degree.name">{{degree.name}}</option>
                }
            </select>
    
        
        <input id="year-input" type="date" name="year" [(ngModel)]="enteredYears"/>
    
    <button id="btn">Submit</button>

