 main {
   margin-top: 10px;   
    
 }

 #options {
    margin-top: 15px;
    margin-left: 10px;
    width: 300px;
    height: 500px;
    border: solid #0C0950;
    border-radius: 20px;
    border: none;
 }

 #view-selected-option {
    width: 800px;
    height: 400px;

    margin-left: 420px;
    position: relative;
    bottom: 505px;
 }

 body {
   background-color: #F1EFEC;
 }

 